*:root{
    font-family: Arial, Helvetica, sans-serif;
}
body{ 
    background-image: url(kepek/hatter.jpg);
    background-repeat: no-repeat;
    background-size:cover}
table {
    border-collapse: collapse;
} 
tr:nth-child(odd) {
    background-color: #6decec;
}
tr {
    border-bottom: 1px solid blue;
}
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-content: center;
    background-color: white;
    margin-inline: 30px;
    max-width: 1000px;

}

.primary{
    background-color: blue;
    display:flex;
    justify-content: center;
    width: 180px;
    padding: 1rem;
    text-align: center;
    border-radius: 32px;
    font-size: 15px;
    box-shadow: 0px 4px 10px 0px #000E3D;
    text-decoration: none;
    color: white;
    transition:ease-in-out

}
.fejlec{
    text-align: center;
    font-weight: 200;
    font-size: large;
    color: white;
    font-style:normal;
    background-image: url(kepek/fejlec.jpg);
    background-attachment: fixed;
    background-size: auto;
    padding-block: 1rem;
    max-width: 1000px;
    margin-inline: 30px;
    
}
.tablazat{
    margin-top: 1rem;
}
.gombok {
    margin-top: 1rem;
}
h2{
    text-align: center;
    font-size: large;
}
p{
    font-size: smaller;
}
.kepek{
    display: grid;
    grid-template-columns: auto auto;

}
.kepek img{
    height: 80px;
    width: 130px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 15px ;
    box-shadow: 5px 5px rgb(209, 207, 207);
    border: 1px solid rgb(179, 177, 177);   
}   
.paratlan{
    rotate: -10grad;  
}
.paros{
    rotate: 10grad; 
}
.lablec{
    padding-block: 0.1rem;
    max-width: 1000px;
    margin-inline: 30px;
    text-align: center;
    font-size: small;
    background-color:rgb(0, 110, 255)
}
