table {
    border-collapse: collapse;
} 
tr:nth-child(odd) {
    background-color: #6decec;
}
tr {
    border-bottom: 1px solid blue;
}
.grid-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
}

.primary{
    background-color: blue;
    display: flex;
    justify-content: center;
    width: 180px;
    padding: 1rem;
    text-align: center;
    border-radius: 32px;
    font-size: 15px;
    box-shadow: 0px 4px 8px 0px #000E3D;
    text-decoration: none;
    color: white;
    transition: ease-in-out
    
}
.fejlec{
    text-align: center;
    font-weight: 200;
    font-size: large;
    color: white;
    font-style: oblique;
    background-image: url(https://cdn.pixabay.com/photo/2018/12/20/16/11/fir-green-3886278_640.jpg);
    background-repeat: no-repeats;
    background-attachment: fixed;
    background-size: cover;
    padding-block: 1rem;
    
}
.tablazat{
    margin-top: 1rem;
}
.gombok {
    margin-top: 1rem;
}